# Questões sobre Listas (List)

In [44]:
# 1. Crie uma lista com 5 elementos e imprima o primeiro e o último elemento da lista.
lista = [1, 2, 3, 4, 5]
print(lista)

[1, 2, 3, 4, 5]

In [45]:
# 2. Adicione o número 6 à lista e imprima a lista atualizada.
lista.append(6)
print(lista)

[1, 2, 3, 4, 5, 6]

In [46]:
# 3. Remova o número 3 da lista e imprima a lista resultante.
lista.remove(3)
print(lista)

[1, 2, 4, 5, 6]

In [47]:
# 4. Acesse e imprima o segundo elemento da lista.
print(lista[1])

2

In [48]:
# 5. Inverta a ordem da lista e imprima o resultado.
lista.reverse()
print(lista)

[6, 5, 4, 2, 1]

In [49]:
# 6. Crie uma lista de números de 1 a 10 e imprima os números pares.
lista_numeros = list(range(1, 11))
pares = [num for num in lista_numeros if num % 2 == 0]
print(pares)

[2, 4, 6, 8, 10]

In [50]:
# 7. Faça uma lista de 5 strings e imprima o comprimento de cada string.
strings = ['maçã', 'banana', 'laranja', 'uva', 'kiwi']
comprimentos = [len(s) for s in strings]
print(comprimentos)

[4, 6, 7, 3, 4]

In [12]:
# 8. Verifique se o número 4 está na lista de números de 1 a 10 e imprima True ou False.
print(4 in lista_numeros)

True

In [13]:
# 9. Crie uma lista de listas (uma matriz 2x2) e imprima o elemento da segunda linha e segunda coluna.
matriz = [[1, 2], [3, 4]]
print(matriz[1][1])

4

In [14]:
# 9. Crie uma lista de listas (uma matriz 2x2) e imprima o elemento da segunda linha e segunda coluna.
matriz = [[1, 2], [3, 4]]
print(matriz[1][1])

4


# Questões sobre Sets

In [60]:
# 11. Crie um set com números de 1 a 5 e imprima-o.
conjunto = {1, 2, 3, 4, 5}
print(conjunto)

{1, 2, 3, 4, 5}

In [61]:
# 12. Adicione o número 6 ao set e imprima o conjunto.
conjunto.add(6)
print(conjunto)

{1, 2, 3, 4, 5, 6}

In [62]:
# 13. Remova o número 2 do set e imprima o conjunto.
conjunto.remove(2)
print(conjunto)

{1, 3, 4, 5, 6}

In [63]:
# 14. Verifique se o número 3 está no set e imprima True ou False.
print(3 in conjunto)

True

In [69]:
# 15. Crie dois sets: um com números pares e outro com números ímpares de 1 a 10. Encontre a interseção entre eles e imprima.
pares = {2, 4, 6, 8, 10,12}
impares = {1, 3, 5, 7, 9,11}
interseção = pares & impares
print(interseção)

set()

In [70]:
# 16. Crie dois sets e use a união para encontrar todos os elementos de ambos os sets.
uniao = pares | impares
print(uniao)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [72]:
# 17. Crie um set com números de 1 a 5 e adicione um elemento duplicado (não será adicionado). Imprima o set.
conjunto.add(5)
print(conjunto)

{1, 3, 4, 5, 6}

In [22]:
# 18. Crie um set vazio e adicione três elementos a ele. Imprima o conjunto resultante.
conjunto_vazio = set()
conjunto_vazio.add(1)
conjunto_vazio.add(2)
conjunto_vazio.add(3)
print(conjunto_vazio)

{1, 2, 3}

In [23]:
# 19. Faça uma diferença entre dois sets e imprima o resultado.
diferenca = pares - impares
print(diferenca)

{2, 4, 6, 8, 10}

In [24]:
# 20. Converta uma lista com valores repetidos em um set, eliminando os duplicados, e imprima o resultado.
lista_com_repetidos = [1, 2, 2, 3, 3, 4, 5, 5]
set_unico = set(lista_com_repetidos)
print(set_unico)

{1, 2, 3, 4, 5}

# Questões sobre Dicionários

In [73]:
# 21. Crie um dicionário com chave 'nome' e valor 'João'. Imprima o valor associado à chave 'nome'.
dicionario = {'nome': 'João'}
print(dicionario['nome'])

João

In [75]:
# 22. Adicione uma chave 'idade' com o valor 25 ao dicionário e imprima o dicionário.
dicionario['idade'] = 25
print(dicionario)

{'nome': 'João', 'idade': 25}

In [76]:
# 23. Remova a chave 'nome' do dicionário e imprima o dicionário resultante.
del dicionario['nome']
print(dicionario)

{'idade': 25}

In [77]:
# 24. Verifique se a chave 'idade' existe no dicionário e imprima True ou False.
print('idade' in dicionario)
print(dicionario)

True
{'idade': 25}

In [29]:
# 25. Crie um dicionário com três chaves ('nome', 'idade', 'cidade') e imprima todos os valores.
pessoa = {'nome': 'Maria', 'idade': 30, 'cidade': 'São Paulo'}
print(pessoa.values())

dict_values(['Maria', 30, 'São Paulo'])

In [30]:
# 26. Acesse o valor da chave 'idade' e imprima-o.
print(pessoa['idade'])

30

In [31]:
# 27. Crie um dicionário com chaves e valores, depois imprima todas as chaves.
chaves = pessoa.keys()
print(chaves)

dict_keys(['nome', 'idade', 'cidade'])

In [78]:
# 28. Adicione uma nova chave 'profissão' ao dicionário e imprima o dicionário.
pessoa['profissão'] = 'Engenheira'
print(pessoa)

{'nome': 'Maria', 'idade': 31, 'cidade': 'São Paulo', 'profissão': 'Engenheira'}

In [79]:
# 29. Atualize o valor da chave 'idade' para 31 e imprima o dicionário.
pessoa['idade'] = 31
print(pessoa)

{'nome': 'Maria', 'idade': 31, 'cidade': 'São Paulo', 'profissão': 'Engenheira'}

In [80]:
# 30. Crie um dicionário de 5 alunos com suas notas e calcule a média das notas.
notas = {'João': 7, 'Maria': 9, 'Pedro': 6, 'Ana': 8, 'Lucas': 7}
media = sum(notas.values()) / len(notas)
print(media)

7.4

# Questões sobre Tuplas

In [81]:
# 31. Crie uma tupla com 3 elementos e imprima o segundo elemento.
tupla = (1, 2, 3)
print(tupla[1])

2

In [36]:
# 32. Crie uma tupla com elementos de diferentes tipos (inteiro, string, float) e imprima-a.
tupla_mista = (1, 'Python', 3.14)
print(tupla_mista)

(1, 'Python', 3.14)

In [37]:
# 33. Tente modificar um elemento de uma tupla e observe o erro (as tuplas são imutáveis).
tupla[1] = 'Alterado'  # Isso irá gerar um erro

TypeError: 'tuple' object does not support item assignment

In [82]:
# 34. Acesse o último elemento de uma tupla de 5 elementos.
tupla5 = (10, 20, 30, 40, 50)
print(tupla5[-1])

50

In [83]:
# 35. Crie uma tupla com 5 números e calcule a soma e a média dos elementos.
numeros = (10, 20, 30, 40, 50)
soma = sum(numeros)
media = soma / len(numeros)
print(soma, media)

150 30.0

In [84]:
# 36. Crie uma tupla com elementos repetidos e imprima a quantidade de vezes que um elemento aparece.
tupla_repetida = (1, 2, 2, 3, 3, 3)
print(tupla_repetida.count(2))

2

In [85]:
# 37. Converta uma lista em uma tupla e imprima a tupla.
lista = [1, 2, 3]
tupla_convertida = tuple(lista)
print(tupla_convertida)

(1, 2, 3)

In [86]:
# 38. Crie uma tupla de 4 elementos e utilize o slicing para imprimir do segundo até o terceiro elemento.
tupla4 = (1, 2, 3, 4)
print(tupla4[1:3])

(2, 3)

In [87]:
# 39. Crie uma tupla contendo uma lista como um dos elementos e acesse um valor da lista interna.
tupla_com_lista = (1, [2, 3, 4], 5)
print(tupla_com_lista[1][0])

2

In [88]:
# 40. Crie uma tupla vazia e imprima seu comprimento.
tupla_vazia = ()
print(len(tupla_vazia))

0